@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: "Lora", serif;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.td {
    width: 20%;
    text-align: center;
}