@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: "Lora", serif;
}

.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.table {
    text-align: center;
}

.td {
    width: 20%;
    text-align: center;
}

.result {
    width: 100%;
    height: 25px;
}

.valid {
    background-color: green;
    color: white;
}

.invalid {
    background-color: red;
    color: white;
}